<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if current_user == @user %>
        <%= simple_form_for @user do |f| %>
        
        <div class="col-xs-12 col-md-6">
          <div class="avatar">
            <%= image_tag @user.avatar, class: "img-responsive center-block" if @user.avatar? %>
            <%= f.file_field :avatar %>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="user-info">
            <%= f.input :name, placeholder: @user.email.split("@").first.capitalize %>
            <%= f.input :intro %>
            <%= f.submit 'Update Profile', class: "btn btn-md btn-success" %>
            <%= link_to "Back", root_path, class: "btn btn-md btn-default" %>
          </div>
        </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
