<% obj.each do |post| %>
  <div class="col-md-4 col-xs-12">
    <%= link_to post_path(post) do %>
    <div class="product-item">
      <div class="pi-img-wrapper">
        <%= image_tag post.photo, class: "img-responsive" %>
      </div>

      <h3><%= post.title %></h3>

      <div class="pi-price">價格：<%= post.price %> 元</div>
      
      <% if post.is_participated?(current_user) %>    
        <%= link_to '退出', unparticipate_post_path(post), method: :post, class: "btn participate" %>
      <% else %>
        <%= link_to '參加', participate_post_path(post), method: :post, class: "btn participate" %>
      <% end %>

      <div class="sticker sticker-new"></div>

    </div>    
    <% end %>
  </div>
<% end %>

       