<% obj.each do |participate| %> 
  <div class="col-md-4 col-xs-12">
    <%= link_to post_path(participate.post) do %>
      <div class="product-item">
        <div class="pi-img-wrapper">
          <%= image_tag participate.post.photo, class: "img-responsive" %>
        </div>

        <% if participate.post.opening? %>
          <h3>
            <span class="label label-warning">開團中</span>
            <%= participate.post.title %>
          </h3>

          <div class="pi-price">價格：<%= participate.post.price %> 元 &nbsp;</div>
          <div class="pi-price">目前人數：<%= participate.post.participates_count %> 人</div>

        <% else %>
        
          <h3>
            <span class="label label-danger">已流團</span>
            <%= participate.post.title %> 
          </h3>
          
          <div class="pi-price">價格：<%= participate.post.price %> 元</div>
          <div class="pi-price">目前人數：<%= participate.post.participates_count %> 人</div>

        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

