<div class="container">
  <div class="row">

    <div class="col-md-8 col-xs-12">
     <%= image_tag @search.photo, class: "img-responsive center-block", width: "400", height: "400" %>
       <br>
			 <%  @sortarry.each do |f| %>
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">			
						<%= link_to f[3], target: "_blank", :class => 'button white' do %>	
							<button type="button" class="btn btn-default" aria-label="Left Align">						
								<%= image_tag(f[1], width: "220", height: "220") %>
							</button>	
							<% end %>
								
        <%#= simple_format f[1] %>			
					<%#= link_to image_tag( f[3], width: 300, class: "img-thumbnail"), f[0] %>
					
					<div class="caption">			
            <h5><%= link_to f[0], f[3], target: "_blank" %></h5>
						<h4><%#= link_to photo.title, photo_path(photo) %></h4>
						<p><%#= simple_format(photo.description) %></p>

					</div>
					<div class="ratings">
						<p ><%= f[2] %></p>
						
					</div>
				</div>
			</div>	
			<% end %>

    </div>

  </div>
</div>