<div class="container_table">
  <div class="jumbotron">
    <h1>同樣的商品，不同的報價</h1>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-8 col-xs-12">
      <%= link_to "開團", new_post_path, class: "btn btn-primary btn-lg" %>

      <%= link_to "搜圖", root_path, class: "btn btn-info btn-lg" %>
      <!-- temporary path reserved for search function -->

      <br><br>

      <% @posts.each do |post| %> 
        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <%= link_to post_path(post) do %>
              <div class="media">
                <div class="media-left">
                  <%= image_tag post.photo, class: "media-object", width: "200px" %>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= post.title %></h4>
                  <br>
                  <p><%= truncate(post.description, length: 100) %></p>
                  <p>價格：<%= post.price %> 元</p>
                  <p>成團人數：<%= post.goal %> 人</p>
                  <p>截止時間：<%= time_ago_in_words(post.due_time) %> Left</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- <%= link_to "看更多...", post_path(post), class: "btn btn-info" %> -->
      <% end %>
    </div>

    <div class="col-md-4 col-xs-6">
      
    </div>

  </div>
</div>