<div class="row">

  <div class="col-md-9 col-xs-12">
    <%= link_to "開團", new_post_path, class: "btn btn-primary btn-lg" %>

    <%= link_to "搜圖", root_path, class: "btn btn-info btn-lg" %>
    <!-- temporary path for search function -->

    <br><br>

    <% @posts.each do |post| %>      
      <%= image_tag post.photo, size: "200x200", class: "img-thumbnail" %>
      價格：<%= post.price %> 元
      成團人數：<%= post.goal %> 人
      截止時間：<%= time_ago_in_words(post.due_time) %> left
    <% end %>

  </div>

  <!-- reserved for Top 5 and Newest 5 posts -->
  <div class="col-md-3 col-xs-6">
    
  </div>

</div>
